<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060831836565-8d9t8beaf7mo4s97vkmu08ep2nd49fn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060831836565-8d9t8beaf7mo4s97vkmu08ep2nd49fn5</string>
	<key>API_KEY</key>
	<string>AIzaSyBVTQybcTGLieJkmLbrcW43yI0uZ7nDagA</string>
	<key>GCM_SENDER_ID</key>
	<string>1060831836565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karona.nexus</string>
	<key>PROJECT_ID</key>
	<string>nexus-fa62c</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-fa62c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060831836565:ios:33490ba510c50159e09e9c</string>
	<key>DATABASE_URL</key>
	<string>https://nexus-fa62c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>